.error {
  background: #000913;
  min-height: 100vh;
  &-general {
    display: flex;
   align-items: center;
    padding-top: 40px;
    justify-content: space-around;
    flex-wrap: wrap;
    &__title {
      font-family: 'Lexend Deca',sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 30px;
      color: #FFFFFF;
      padding: 20px 0;
    }
    &__item {
         font-family: 'Lexend Deca',sans-serif;
         font-style: normal;
         font-weight: bold;
         font-size: 30px;
         line-height: 37px;
         color: #FFFFFF;
       }
    &__img {
      cursor: pointer;
      padding-top: 50px;
    }
  }
}