.reviews {
  padding: 70px 0;

  &-general {
    .slick-list {
      overflow: hidden;

      .slick-track {
        display: flex;
        width: 97%;


        &__width {
          border-bottom: 2px solid #00E3AD;
          width: 100%;
          margin-bottom: 4%;
        }

        &__title {
          padding: 0 3px;
          text-align: center;
          width: 30%;
          font-family: 'Arial', sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 36px;
          color: #00AE84;
          margin-bottom: 4%;
        }


      }
    }

    &__block {
      width: 413px;
      height: 220px;
      padding: 10px 20px;
      box-shadow: 0 20px 20px rgba(192, 192, 192, 0.42);
      margin: 0 110px;
      cursor: grab;
      position: relative;
    }
    &__video {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__title2 {
      color: black;
      font-size: 22px;
      font-weight: 600;
    }

    &__item {
      color: black;
    }
  }
}
