.job {
  &-general {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 3%;

    &__width {
      border-bottom: 2px solid #00E3AD;
      width: 100%;
      margin-bottom: 4%;
    }

    &__title {
      padding: 0 8px;
      text-align: center;
      width: 55%;
      font-family: 'Arial', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      color: #00AE84;
      margin-bottom: 4%;
    }

    &__block {
      width: 220px;
      height: 230px;
      background: #FFFFFF;
      box-shadow: 0 20px 20px rgba(192, 192, 192, 0.42);
      border-radius: 5px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      margin: .7rem 1.1rem;
      transition: .4s;
      &:hover {
        transform: scale(1.1);
      }

      &__item {
        font-family: 'Arial', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 140%;
        padding: 10px 0;
        color: #004333;
        text-align: center;
      }
    }

  }
}