@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400;500;600;700;800&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import "./header/header";
@import "./hero/hero";
@import "./about/about";
@import "./aboutus/aboutus";
@import "./services/services";
@import "./job/job";
@import "./out/out";
@import "./reviews/reviews";
@import "./question/question";
@import "./footer/footer";
@import "./404/404";
@import "./work/work";
@import "./work2/work2";
@import "./pageServices/pageServices";
@import "./pageServices2/pageServices2";
@import "./burgermenu";
@import "./reset";
@import "./../icons.css";



// media //
@import "./../../styles/media/mediaScss";




// media //


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
