@import "scss/index.scss";
@import "icons.css";



@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-gray-50 text-gray-900 dark:bg-black dark:text-gray-100;
        @apply min-h-screen;
        --color: #000;
        --block: white;
        --background:rgba(0, 174, 132, 0.13);
    }

    ::selection {
        @apply text-white bg-indigo-500;
        --color:#fff;
        --block:#004333;
        --background:white;
    }


    .btn{
        @apply inline-block px-5 py-3 rounded-lg hover:bg-indigo-600 transition duration-300 shadow-lg bg-indigo-500 text-white capitalize tracking-wider font-semibold text-sm sm:text-xl focus:outline-none focus:ring-4 focus:ring-indigo-500 focus:ring-opacity-50 whitespace-nowrap
    }
}
